  <p>Ask your coach anything:</p>
 <!--  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form> -->

<form class="form-inline" action="answer">
  <div class="form-group">
    <input type="text" name="question" class="form-control">
    <button type="submit" value="Ask!" class="btn btn-primary">Submit</button>
  </div>
</form>
