<h3>Coach's Answer</h3>

<!-- Interpolate user's question -->
<p>After listening carefully to your concern, Coach said: </p>
<p><%= @answer %></p>
</br>

<%= link_to "Ask a new question", "/ask" %>
 <!-- If the message is I am going to work, the coach will answer Great! -->



<!-- If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!. -->


<!-- Else the coach will answer I don't care, get dressed and go to work! -->
